<div>
    <ul id="menu">
        <li>
            <a [routerLink]="['/']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/cine']">Cine</a>
        </li>
        <li>
            <a [routerLink]="['/musica']">Musica</a>
        </li>
        <li>
            <a [routerLink]="['/doble']">Doble</a>
        </li>
        <li>
            <a [routerLink]="['/doble/5']">Doble de 5</a>
        </li>
        <li>
            <a [routerLink]="['/doble/7']">Doble de 7</a>
        </li>
    </ul>
</div>
